*{
    margin: 0 ;
    padding:0;
    list-style-type: none;
    box-sizing: border-box;
}
#header-container{
    display: flex;
    justify-content: center;
    width: 2000px;
    height: auto;
    margin: 0 auto;

}
#search-container{
    width: 2000px;
    height: auto;
    margin: 0 auto;
    text-align: center;
    background-color: rgba(238,238,238,255) ;
    font-size: 18px;
}
.searchitem1{
    padding-top: 0.20rem;

}
.searchitem1 input{
    width: 320px;
    height: 20px;
    
}
.searchitem2 button{
    padding: 0.10rem 0.25rem;
    font-size: 15px;
}

#footer-container{
    width: 2000px;
    display: flex;
    justify-content: center;
    height: auto;
    margin: 0 auto;
    
}
.footeritem1{
    width: auto;
    background-color: rgba(127,229,219,255);
    flex:3;
    margin: 0.21rem 0.21rem 0 0;
    text-align: center;
    padding-top: 0.5rem;
    font-size: 18px;
}
.footeritem2{
    width: auto;
    background-color: rgba(113,202,196,255);
    flex: 2;
    margin: 0.21rem 0.15rem 0 0;
    text-align: center;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    font-size: 14px;
    
}
.footeritem3{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: auto;
    background-color: rgba(100,178,168,255);
    flex: 4;
    margin: 0.21rem 0rem 0 0.05rem;
    text-align: center;
    font-size: 14px;
    
}
.footeritem3 input{
    width: 190px;
    margin: 0 auto;
    
}
.footeritem3 button{
    width: 65px;
    padding: 1px;
}

#copyrighttext{
    display: flex;
    justify-content: center;
    height: auto;
    margin: 0 auto;
    padding-top:1.6rem;
}

